{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}

{% block body %}
<div class="home-container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('verify_email_error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    <div class="home-header">
        {% if app.user %}
            <h1>{{ 'home.heading.connected'|trans({'%username%': app.user.username}) }}</h1>
        {% else %}
            <h1>{{ 'home.heading.guest'|trans }}</h1>
        {% endif %}
        
        <h2>{{ 'home.latest'|trans }}</h2>
    </div>

    <ul class="recipe-list">
        {% for recipe in recipes %}
            <li class="recipe-item" style="--recipe-image: url('{{ recipe.image }}')">
                <a href="{{ path('app_recipe_show', {'id': recipe.id}) }}">
                    <h3>{{ recipe.title }}</h3>
                </a>
                <em>{{ recipe.origin.name|default('') }}</em>
                <p>{{ recipe.description|u.truncate(80, '...') }}</p>
            </li>
        {% else %}
            <li class="no-recipes">{{ 'home.empty'|trans }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
