{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('verify_email_error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    {% if app.user %}
        <h1>{{ 'home.heading.connected'|trans({'%username%': app.user.username}) }}</h1>
    {% else %}
        <h1>{{ 'home.heading.guest'|trans }}</h1>
    {% endif %}

    <h2>{{ 'home.latest'|trans }}</h2>
    <ul>
        {% for recipe in recipes %}
            <li>
                <a href="{{ path('app_recipe_show', {'id': recipe.id}) }}">
                    <h3>{{ recipe.title }}</h3>
                </a><br>
                <em>{{ recipe.origin.name|default('') }}</em>
                {{ recipe.description|u.truncate(80, '...') }}
            </li>
        {% else %}
            <li>{{ 'home.empty'|trans }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
