<h1>{{ 'email.confirm.title'|trans }}</h1>

<p>
    {{ 'email.confirm.instruction'|trans }}<br><br>
    <a href="{{ signedUrl|raw }}">{{ 'email.confirm.link'|trans }}</a>.<br>
    {{ 'email.confirm.expiration'|trans({'{{ time }}': expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle')}) }}
</p>

<p>
    {{ 'email.confirm.signature'|trans }}
</p>