{% extends 'base.html.twig' %}

{% block title %}{{ 'recipe.index.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'recipe.index.heading'|trans }}</h1>

    <ul>
        {% for recipe in recipes %}
            <li>
                <strong>{{ recipe.title }}</strong><br>
                {{ recipe.description|u.truncate(100, '...') }}
            </li>
        {% else %}
            <li>{{ 'recipe.index.empty'|trans }}</li>
        {% endfor %}
    </ul>
{% endblock %}
